# Virtualenv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ss]cripts
pyvenv.cfg
pip-selfcheck.json

# Vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Python
__pycache__/
*.py[cod]
*$py.class

# Node
node_modules/
bower_components
npm-debug.log
