{% load staticfiles %}
<!doctype html>
<html lang="en" ng-app="stentApp">
<head>
  <meta charset="utf-8">
  <title>My Bronchial App</title>
  <link rel="stylesheet" href="{% static 'app/bower_components/bootstrap/dist/css/bootstrap.css' %}">
  <link rel="icon" href="{% static 'app/img/logo.ico' %}">
  <script src="{% static 'app/bower_components/threejs/build/three.min.js' %}"></script>
  <script src="{% static 'app/bower_components/angular/angular.js' %}"></script>
  <script src="{% static 'app/bower_components/angular-route/angular-route.js' %}"></script>
  <script src="{% static 'app/js/app.js' %}"></script>
  <script src="{% static 'app/js/controllers.js' %}"></script>
</head>
<body> 
  {% verbatim %}
  <div ng-view></div>
  {% endverbatim %}
</body>
</html>
